[*.cs]

# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = none

# VSTHRD100: Avoid async void methods
dotnet_diagnostic.VSTHRD100.severity = none

# S112: General exceptions should never be thrown
dotnet_diagnostic.S112.severity = silent
